<!doctype html>
<html>
   <body style="text-align: center;
   text-decoration: none;
   color: white;">
      <h1 style="border: 2px solid white;
      border-radius: 5px;
       width: 100%;
      background-color: black;
      
       text-align: center; 
       font-size: 50px;
       font-weight: 500;
        ">Scheduling Management System</h1>
      <h2 style="border: 2px solid white;
      border-radius: 5px;
       width: 100%;
      background-color: blueviolet;
      color: black;
       text-align: center; 
       font-size: 50px;
       font-weight: 500;
        "><a href = "/index" style="text-decoration: none;">Schedule a Meet</a></h2>
      <h2 style="border: 2px solid white;
      border-radius: 5px;
       width: 100%;
      background-color: blueviolet;
      
       text-align: center; 
       font-size: 50px;
       font-weight: 500;
        "><a href = "/list" style="text-decoration: none;">Show the Data</a></h2>
   </body>
</html>